---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="max-w-3xl mx-auto py-8">
        <nav class="mb-8 flex justify-center gap-4">
            <a
                href="/species"
                class="px-4 py-2 rounded bg-purple-100 text-purple-900 hover:bg-purple-200 transition"
                >Menu Graphiques</a>
            <a
                href="/test-iframe"
                class="px-4 py-2 rounded bg-blue-100 text-blue-900 hover:bg-blue-200 transition"
                >Test Iframe</a>

            <a
                href="/ancre"
                class="px-4 py-2 rounded bg-blue-100 text-blue-900 hover:bg-blue-200 transition">
                Ancre</a>
        </nav>
    </main>
</Layout>
