---
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
---

<Layout>
    <section class="max-w-3xl mx-auto mb-12">
        <h2 class="text-2xl font-bold mb-4 text-purple-900 text-center border-b-2 border-purple-300 pb-2 uppercase">
            Penguins Adelie
        </h2>
        <GraphicSpecies species="Adelie" />
    </section>
</Layout>
