---
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
---

<Layout>
    <section class="max-w-3xl mx-auto mb-12">
        <h2 class="text-2xl mb-4 text-green-700 text-center border-b-2 border-green-300 pb-2 uppercase">
            Penguins Chinstrap
        </h2>
        <GraphicSpecies species="Chinstrap" />
    </section>
</Layout>
