---
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
---

<Layout>
    <section class="max-w-3xl mx-auto mb-12">
        <h2 class="text-2xl font-bold mb-4 text-red-900 text-center border-b-2 border-red-300 pb-2 italic">
            Penguins Gentoo
        </h2>
        <GraphicSpecies species="Gentoo" />
    </section>
</Layout>
